.wy-menu-vertical header,.wy-menu-vertical p.caption {
	color:#ffffff;
}
.wy-side-nav-search {
	background-color:#d5d4d1;
}
.wy-nav-top {
	background-color:#d5d4d1;
}
.wy-nav-top img {
	background-color:#d5d4d1;
}
.wy-side-nav-search input[type=text] {
	border-color:#d5d4d1;
}
.wy-side-nav-search img {
	background-color:#d5d4d1;
}
a {
	color:#333333;
	text-decoration:none;
	cursor:pointer
}
a:hover {
	color:#333333;
	text-decoration: underline;
}
a:visited {
	color:#333333
}
a:visited:hover {
	color:#333333
}
/*leave the linkcolor in the sidebar like it was */
.wy-side-scroll a {
	color:#b3b3b3
}
.wy-side-scroll a:hover {
	background-color:#d5d4d1;
	color:#fff
}
/*leave the title of the side bar in a pure white for readability*/
a.icon.icon-home {
	color:#000000
}
/*
toctree-l2 a:hover {
	background-color:##cf727e
}
*/
/*get paragraphs in justified form*/
p {
	text-align:justify
}
div {
	/*text-align:justify*/
}
/*fix the width of content section*/
.wy-nav-content {
	max-width:800px
}
/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}
/*table header styling*/
.wy-table thead th,.rst-content table.docutils thead th,.rst-content table.field-list thead th {
	font-weight:bold;
	border-bottom:solid 2px #e1e4e5;
    border-left: 1px solid #e1e4e5
}

#headerlink2 {
	visibility:visible;
	content:"Ã¯ÂÂ";
	font-family:FontAwesome;
	display:inline-block
}
